.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.input-container{ 
  border-bottom: 2px solid #000000;
  height: 24px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  max-width: 1200px; 
}


.product-img-container {
  /* 이미지가 커져도 넘치지 않도록 처리 */
  overflow: hidden;
}

.product-image {
  /* 부드러운 전환 효과 */
  transition: transform 0.3s ease;
  display: block; /* 이미지를 블록 요소로 설정하여 정확한 너비를 가지게 함 */
}

.product-image:hover {
  /* 마우스 호버시 이미지 확대 */
  transform: scale(1.05);
}
