.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.input-container{ 
  border-bottom: 2px solid #000000;
  height: 24px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  max-width: 1200px; 
}


