body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: transparent; /* 배경색 투명 */
  border: none; /* 테두리 없앰 */
  outline: none; /* 포커스 시 발생하는 외곽선 없앰 */
  -webkit-appearance: none; /* iOS와 같은 일부 브라우저에서 적용되는 기본 스타일링 없앰 */
  -moz-appearance: none; /* Firefox에서 적용되는 기본 스타일링 없앰 */
  appearance: none; /* 가능한 모든 브라우저에서 적용되는 기본 스타일링 없앰 */
}

/* Firefox를 위한 추가 스타일링 */
input::-moz-focus-inner {
  border: 0; /* Firefox에서 input에 포커스 되었을 때 내부 테두리 제거 */
}

/* IE에서 입력 필드의 X버튼 제거 */
input::-ms-clear {
  display: none;
}